img, embed, object, video{
	max-width: 100%;
}
body{
	font-family: 'Open Sans', sans-serif;
	height:100%;
	overflow: hidden;
}


.head-title{
	color:#039BE5;
	font-weight: 700;
	margin: 10px;
	margin-right: 20px;
}
.light-font{
	font-weight: 100;
}

.light-grey-color{
	color:#BDBDBD;
}

.blue-background{
	background-color: #039BE5;
}

.white-color{
	color:white;
}

.padding-left-20{
	padding-left: 20px;
}
.padding-20{
	padding: 20px !important;
}

.margin-bottom-35{
	margin-bottom: 35px;
}

.margin-right-10{
	margin-right:10px;
}

.no-padding{
	padding: 0px;
}

.display-flex{
	display: flex;
}

.no-margin{
	margin:0px;
}

.no-margin-horizontal{
	margin-left: 0px;
	margin-right: 0px;
}
.navbar{
	background: white;
	margin: 0px;
	border-width: 0px;
}

.view{
	position: absolute;
	width: 100%;
  transition: 300ms;

}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-header button.navbar-toggle.collapsed{
	background-color: white;
}
/* First animation*/
.first .view.ng-enter{
  left: -100%;
}

.first .view.ng-enter.ng-enter-active{
  left: 0%;
}

.first .view.ng-leave{
  left: 0%;
}

.first .view.ng-leave.ng-leave-active{
  left: 100%;
}

/* Second animation*/
.second .view.ng-enter{
  left: 100%;
}

.second .view.ng-enter.ng-enter-active{
  left: 0%;
}

.second .view.ng-leave{
  left: 0%;
}

.second .view.ng-leave.ng-leave-active{
  left: -100%;
}

/* Third animation*/
.third .view.ng-enter{
  top: 100%;
}

.third .view.ng-enter.ng-enter-active{
  top: 0%;
}

.third .view.ng-leave{
  top: 0%;
}

.third .view.ng-leave.ng-leave-active{
  top: -100%;
}

/* Third animation*/
.welcome .view.ng-enter{
  opacity: 0;
}
