<div class="row blue-background padding-20">
      		<div class="row">
      			<h1 class="white-color light-font padding-left-20">Customize your easy URL</h1>
      		</div>
      		<div class="row margin-bottom-35">
      			<form action = "/generate" method = "POST">
	      			<div class="col-md-9  padding-20">
	      				<input type="url" class="form-control" placeholder="Please enter a url starts with http/https"></input>
		      		</div>
		      		<div class="col-md-3 padding-20">
		      			<button type="submit" class="btn btn-default" >Shorten URL</button>
                                    
		      		</div>
                              <div class="col-md-9  padding-20">
                                    <input type="url" class="form-control" placeholder="Please enter a url starts with http/https"></input>
                              </div>
      			</form>
                        
      		</div>
</div>
<div class="row text-center">
            <div class="col-md-4"> 
               <h2>Shorten</h2>
            </div>
            <div class="col-md-4"> 
               <h2>Customize</h2>
            </div>
            <div class="col-md-4"> 
               <h2>Analyze</h2>
            </div>
</div>
