      <div class="row blue-background padding-20">
      		<div class="row">
      			<h1 class="white-color light-font padding-left-20">Simplify your long URL</h1>
      		</div>
      		<div class="row margin-bottom-35">
      			<form action = "/generate" method = "POST">
	      			<div class="col-md-9  padding-20">
	      				<input type="url" name="longURL" class="form-control" id="long-home" placeholder="Please enter a url starts with http/https. For example: https://www.google.com."></input>
		      		</div>
		      		<div class="col-md-3 padding-20">
		      			<button type="submit" class="btn btn-default" id="submit-btn-home"disabled="disabled" >Shorten URL</button>
                                    
		      		</div>
      			</form>
                        
      		</div>
</div>
